<h3>ユーザー情報</h3>

<p><%= link_to "編集する", user_edit_path %></p>

<table class="tasks" border="1" style="border-collapse: collapse">
  <tr align='center'>
    <td>ユーザー名</td>
    <td><%= current_user.name %></td>
  </tr>
  <tr align='center'>
    <td>メールアドレス</td>
    <td><%= current_user.email %></td>
  </tr>
  <tr align='cernter'>
    <td>
      今日はこれだけ<br />
      （残りタスク数）
    </td>
    <td></td>
  </tr>
  <tr align='center'>
    <td>
      達成率<br />
      （一週間）
    </td>
  </tr>
</table>